@import '../../styles.scss';

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .name-create-game {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 292px;

        label {
            font-weight: 700;
            font-size: 14px;
            line-height: 19.6px;
            color: $input-text-color; // Usando variable para el color del texto
            font-family: 'Poppins', sans-serif;
        }

        input[type="text"] {
            @include input-styles(292px);
        }
    }

    button {
        margin-top: 20px;
        width: 100%;
        @include button-styles($button-bg-color, $hover-color-button, $disabled-color); // Usando variables para el color del botón
        max-width: 159px;
    }
}