<div class="create-admin-container modal">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
        <div class="name-admin">
            <label for="user-name">Tu nombre</label>
            <input id="user-name" type="text" [formControlName]="nameControlName" />
        </div>
        <div class="mode-selection">
            <div class="radio-container">
                <label class="text">
                    Jugador
                    <input type="radio" id="jugador" value="jugador" formControlName="mode" />
                    <span class="custom-radio text"></span>
                </label>
            </div>

            <div class="radio-container">
                <label class="text">
                    Espectador
                    <input type="radio" id="espectador" value="espectador" formControlName="mode" />
                    <span class="custom-radio"></span>
                </label>
            </div>
        </div>

        <button type="submit" [disabled]="formGroup.invalid">{{ submitButtonText }}</button>
    </form>
</div>

<!-- Mostrar las cartas después del formulario -->

<body class="content-table">
    <div class="player-cards">
        <div class="players-container">
            <div class="neon-shape table"></div>
        </div>

        <div class="content-cards-select">
            <h5>Elige una carta 👇</h5>
            <div class="cards-container">
                <button *ngFor="let card of cards" class="card">
                    {{ card }}
                </button>
            </div>
        </div>
    </div>
</body>