/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$primary-color: #330072;
$secondary-color: rgba(31, 13, 63, 1.7);
$white-transparent: rgba(255, 255, 255, 0.1);
$border-radius: 25px;
$input-padding: 4px 4px 4px 15px;
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
$border-color: #BB65FF;
$input-text-color: #FFFFFF;
$button-bg-color: #F6F7FC;
$disabled-color: rgba(255, 255, 255, 0.1);
$hover-shadow-color: #ffffff;
$text-color-disabled: #9D9DA199;
$hover-color-button: rgba(255, 255, 255, 0.4);
$blue-zodiac: #1F0D3F;
$radio-button-purple: #6429CD4D;
$lavender-blue: #BDBDFF;
$purple-heart: #6429CD;
$pale-periwinkle: #BDBDFF99;
$color-mauve: #E4A4FF;
$color-vivid-violet: #9610FF;
 
// Mixin para el gradiente de fondo
@mixin gradient-bg($color1, $color2) {
    background: radial-gradient(50% 50% at 50% 50%, $color1 0%, $color2 100%);
}

// Mixin para los botones
@mixin button-styles($bg-color, $hover-color, $disabled-color) {
    background-color: $bg-color;
    border-radius: 50px;
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: $primary-color;
    font-weight: 600;
    line-height: 16px;
    font-family: 'Poppins', sans-serif;


    &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
        color: $text-color-disabled;
    }

    &:hover:not(:disabled) {
        background-color: $bg-color;
        box-shadow: 0 0 10px $hover-color;
    }
}

@mixin input-styles($width) {
    width: $width;
    padding: $input-padding;
    border: 1px solid $border-color; // Usando variable para el borde
    border-radius: 100px;
    background-color: transparent;
    color: $input-text-color; // Usando variable para el color del texto
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    &:focus {
        outline: none;
        border-color: $hover-shadow-color; // Usando variable para el color del borde al hacer focus
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $hover-shadow-color; // Usando variable para la sombra en hover
    }
}


app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-create-game,
app-create-admin {
    margin: auto;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include gradient-bg($primary-color, $secondary-color); // Usando variables para el gradiente

    .player-initials {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $lavender-blue;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        color: $input-text-color;
    }
}